*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tel__mail{
/*background-color: blue;*/

}

.buscar{
  /*  background-color: rgb(193 9 38);*/
    font-size: 20px;
    padding-left: 25%;
}
.buscar__input{
    width: 500px;
    height: 45px;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 5px;
}
.logo__buscar{
 /*   background-color: red;*/
    padding: 10px;
   }
li {
 /*   background-color: antiquewhite;    */
    display: inline-block;
    font-size: 17px;
    padding: 0px 2% 0px 2%;
}

nav{
 /*   background-color: green;*/
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.user{
    float: right;
    margin-top: -160px;
    font-size: 18px;
  /*  background-color: yellow;  */
}

.mi__user{
 /*   background-color: red;*/
    padding: 10px;
}

.p_login{
    display: inline-block;
}
.banner{
    background-color: aquamarine;
    width: 100%;
    height: 280px;
    background-image: url("../img/bannerHome.jpg");
   

}
.MarginDentroBody10{
    background-color: rgb(195, 195, 196);
    margin-left: 5%;
    margin-right: 5%;
}

.Productos__Nuevos{
  /*  background-color: rgb(12, 34, 12);*/
    width: 100%;
}

.Productos__Destacados{
 /*   background-color: forestgreen;*/
    width: 100%;
}

.captura{
    width: auto;
    height: 500px;
    padding-left: 5%;
    border-style:bold;    
    border: 2px solid black;
}
.captura {
    
}