
* {
    margin:0;padding:0; position: relative;
  }
  *, *:before, *:after {box-sizing: inherit;} /*Averiguar bien como funciona esta linea*/

.paddingViewport{
    padding-left: 10%;
    padding-right: 10%;
}
.header__topHeader{
    color: aliceblue;
    background-color: #1E1F29;;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.header__background{
    background-color: #15161D;
}

.header__contacto{
    font-size: 15px;
    color: aliceblue;    
}

.header__contacto:hover,.header__user:hover {
    transition: 0.3s;
    color: rgb(207, 2, 2);
    text-decoration: none;
}

.header__logoCirculo{
    width: 130px;
    height: 130px;
    top: 20px;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 130px;
    text-align: center;
    background: #bd324a;
    font-family: fantasy;
    z-index: 1;
}

.header__buscar{
text-align: center;
font-size: 20px;
position: relative;
bottom: 10px;
}
.header__buscarInput{
    width: 500px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
}
.header__buscarLogo{    
    right: 40px;
    position: relative;
    font-size: 25px;
    color: #D10024;
}

.header__deseosCarrito{
    float: right;
    bottom: 43px;
    position: relative;
    font-size:15px;
    color: aliceblue;
    padding-right: 10px;
}

.Header__RePosicionarBuscarCompras{
    position: relative;
    bottom: 65px;
}

.nav{   
    text-align: start;      
   border-top: 3px solid #D10024; 
    padding: 15px;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 2px solid #dfdfdf;
}

.li {
    list-style-type: none;
    display: inline-block;    
    padding: 0 15px 0 0;
    font-weight: 600;
}

.a {
    text-decoration: none;
    color:#333;
    background-image: linear-gradient(#D10024, #D10024);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;    
}

.a:hover, .a:focus {
    background-size: 100% 2px;
    color: #D10024; 
}
/**************************************************************************************/
                                    /*Fin Header*/
/**************************************************************************************/

/*Comienzo Main*/
.main__banner{
    width: 100%;
    height: 450px;    
    background-image: url("../img/banner.jpg");
    position: relative;
    top:50px;
}

body{    
    font-family: 'Montserrat', sans-serif;
    color: #292a3b;
}

/*Productos nuevos*/


.Productos{  
    position: relative;
    top: 110px;    
    height: 400px;
}

.Productos__SubMenu{
    float: right;
    position: relative;
    bottom: 25px;
    font-weight: 700;
    color: #2B2D42;
}
.productos__SubMenuUl{
    height: 0;
}

.Productos__Nuevo{    
    top: 10px;
    margin: 10px;
    border: 1px solid rgb(235, 235, 235);
    float: left;
    padding: 5px;
    width: 300px;
    height: 250px;
    border-bottom: none;    
}

.Productos__Detalle{    
    border: 1px solid rgb(235, 235, 235);
    border-top: 0px;
    width: 310px;
    padding-right: 0px;
    position: relative;
    text-align: center;
    margin-left: -6px;    
}
.Productos__Detalle:hover {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;      
     /*   transform: scale(1.1);*/
      }      
img {
      width: 100%;
      height: 100%;   
      object-fit: contain;    
   /*   transition: transform .2s;*/
}

.Productos__Carrito{
    font-size: 18px;
    line-height: 20pt;
    letter-spacing: 5pt;
}

.Productos__espacio{
    height: 80px;
}
/*********************************************************
/*Suscribirse*/
/********************************************************/
.Suscribirse{
    border-top: 2px solid #dfdfdf;   
    position: relative;
    top: 250px;
    height: 200px;
    font-size: 20px;
    text-align: center;
}

.Suscribirse__Div{
    position: relative;
    top: 50px;
}

.Suscribirse__DivCorreo{
    width: 130px;
    height: 130px;
    padding-left: 20%;
}

.Suscribirse__DivPadre{
    position: relative;    
    bottom: 90px;
    padding-left: 40px;
}

.boton {
    border: none;
    width: 160px;
    height: 54px;
    font-weight: 700;
    font-size: 18px;
    background: #D10024;
    color: #FFF;
    border: none;
    border-radius: 0px 40px 40px 0px;
}

.Suscribirse__Input{
    width: 300px;
    font-size: 18px;
    padding: 6px;
    border-radius: 40px 0px 0px 40px;
    padding-left: 10px;
    margin-right: -6px;
}

.iframe{
    z-index: 1;
    right: 200px;
    bottom: 40px;
}


/*Btn Subir*/
.Btn__Flotante {  
    font-size: 20px;  
}

.Btn__FlotanteAnchor{
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 22px;
    position: fixed;
    font-weight: bolder;
    color: #D10024;
    z-index: 10;
}

.Btn__Flotante:hover {
	cursor: pointer;
}
/******************************************************************************
/*Footer*/
/******************************************************************************/
.footer{  
    border-top: 3px solid #D10024; 
    background-color: #15161D;    
    position: relative;
    top: 300px;    
    height:160px; 
    color: aliceblue;    

}
.footer__SobreNosotros{

    width: 300px;
    position: relative;
    top: 40px;
    left: 0px;
    height: 120px;
    padding-left: 10px;
    padding-left: 10%;
    padding-right: 10%;
    
}
.footer__Informacion{
 
    width: 300px;
    position: relative;
    bottom: 80px;
    left: 400px;
    height: 120px;
    padding-left: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.footer__Servicio{
    width: 300px;
    position: relative;
    bottom: 200px;
    left: 800px;
    height: 120px;   
    padding-left: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.footer__DerechosResevados{
    color: aliceblue;
    background-color: #1E1F29;;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    bottom: 200px;
}

/*Accesorio*/

.dividir__Fotos{
position: relative;
top: 100px;
}

.Productos__UnderLine{
border: 1px solid #D10024;
}

/*
INICIO FORMULARIO
*/


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}

input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border: 1px solid rgb(167 167 167);
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border: 1px solid rgb(167 167 167);
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

label{
  display: block; 
  float: center;  
}
span{
  color: #ab4493; 
}

.aviso{
  font-size: 15px;  
  color: #0e0e0e;  
}

.formulario__h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #1E1F29;
}

.formulario__h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}

.formulario__p{
  font-size: 14px; 
  color: #0e0e0e; 
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}

::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario .formulario__input:focus{
  outline:0;
  border: 1px solid #D10024;
}

.formulario .formulario__textarea:focus{
  outline:0;
  border: 1px solid #D10024;
}

/*
FIN FORMULARIO
*/